:root{
    font-size: 62.5% ;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header container */

header{
    width: 100%;
    height: 60px;
}

header .version{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.2rem;
    color: #5f6368;
}

header nav {
    display: flex;
    justify-content: end;
}

header nav ul {
    width: 300px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
header nav ul li{
    cursor: pointer;
}

header nav ul li:nth-child(3) {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

header nav ul li:nth-child(4) img{
    border-radius: 50%;
}
header nav ul li a{
    text-decoration: none;
}

/* Main container */

main{
    margin-top: 150px;
    text-align: center;
}

main .google-primary-logo{
    margin-bottom: 50px;
}

main .google-search-container{
    width: 100%;
}

main .google-search-container{
    margin-bottom: 40px;
}

main .google-search-container .google-search-input-container{
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2px;
}

main .google-search-container .google-search-input-container .google-search-icon{
    background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .google-search-container .google-search-input-container input{
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
}

main .google-search-container .google-search-input-container:hover{
    /*  */
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e514;
}

main .google-search-container .google-search-input-container .google-icon-microphone{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .google-search-container .google-search-input-container .google-icon-camera{
    background-image: url('https://i.pcmag.com/imagery/articles/00Cx7vFIetxCuKxQeqPf8mi-24..v1580943857.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    width: 18px;
    height: 18px;
}

main .google-secondaty-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .google-secondaty-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #22222230;
    color: #222;
}

/* footer container */

/* display : flex  */
/* footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0 15px;
}

footer ul a{
    text-decoration: none;
} */


footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer ul:first-child{
    justify-self: left;
}   

footer ul:nth-child(2){
    justify-self: right;
}

footer ul li a{
    text-decoration: none;
    margin: 10px;
    color: #5f6368;
} 